/*///// GLOBAL /////*/
:root {
    --border-color: #000000;
    --bg-color: #0A0A0A;
    --bg-sub-color: #202020;
    --red-color: #A54C3f;
    --selected-color: #FFFFFF;
}

#back-button {
    display: -moz-inline-box !important;
}

#forward-button,
#back-button,
#reload-button,
#stop-button,
#tabs-newtab-button {
    display: none !important;
}

/*///// TOOLBAR /////*/
#nav-bar {
    padding: 3px 8px !important;
    border-color: var(--border-color) !important;
}

#nav-bar,
#nav-bar:-moz-window-inactive,
#TabsToolbar,
#TabsToolbar:-moz-window-inactive {
    box-shadow: var(--border-color) !important;
    background: var(--bg-color) !important;
}

#PersonalToolbar,
#PersonalToolbar:-moz-window-inactive,
#toolbar-menubar,
#toolbar-menubar:-moz-window-inactive,
findbar,
findbar:-moz-window-inactive {
    appearance: none !important;
    border-color: var(--bg-color) !important;
    background: var(--bg-sub-color) !important;
}

.toolbar-items {
    padding: 0px 10px;
    padding-bottom: 2px;
}

#PlacesToolbarItems {
    background-color: var(--bg-sub-color);
}

/*///// NAVBAR /////*/
#navigator-toolbox #nav-bar {
    -moz-box-ordinal-group: 0;
    background: var(--bg-color) !important;
}

#TabsToolbar[movingtab],
#TabsToolbar[movingtab]>.tabbrowser-tabs,
#TabsToolbar[movingtab]+#nav-bar {
    padding-bottom: 0 !important;
}

#urlbar {
    --urlbar-height: 35px;
    --urlbar-toolbar-height: 35px !important;
}

#urlbar-background {
    border: 0 !important;
    border-radius: 3px !important;
    background: var(--bg-sub-color) !important;
}

.sharing-icon,
#identity-icon,
#permissions-granted-icon,
#tracking-protection-icon,
#blocked-permissions-container>.blocked-permission-icon {
    width: 14px;
    height: 14px;
}

#navigator-toolbox-background {
    background-color: var(--bg-color) !important;
}

/*///// TAB /////*/
tab[selected="true"] .tab-content {
    color: var(--selected-color) !important;
}

tab[selected="true"] .tab-background {
    background: var(--bg-sub-color) !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
    border-left: 100 !important;
    opacity: 1 !important;
}

/* Ctrl - W close. */
.tab-close-button {
    display: none !important;
    border-radius: 7px !important;
}

.titlebar-spacer {
    display: none !important
}

.tab-background {
    border-radius: 3px !important;
}

.tab-content {
    font-size: .9em;
}

.tab-throbber-tabslist,
.tab-throbber,
.tab-icon-pending,
.tab-icon-image,
.tab-sharing-icon-overlay,
.tab-icon-overlay {
    height: 14px;
    width: 14px;
}

.tab-throbber:not([pinned]),
.tab-icon-pending:not([pinned]),
.tab-icon-image:not([pinned]),
.tab-sharing-icon-overlay:not([pinned]),
.tab-icon-overlay:not([pinned]) {
    margin-inline-end: 8.5px;
}

.tabbrowser-tab .tab-icon-stack {
    align-items: center;
    justify-items: center;
}

/*///// BOOKMARKS /////*/
#nav-bar {
    -moz-box-ordinal-group: 2 !important;
}

#titlebar {
    -moz-box-ordinal-group: 3 !important;
}

#PersonalToolbar {
    -moz-box-ordinal-group: 1 !important;
    padding-inline: 11px !important;
    color: var(--bg-sub-color);
}

:root[uidensity="compact"] #PersonalToolbar {
    padding-inline: 0px !important;
}

#PlacesToolbarItems {
    background: var(--bg-color) !important;
}

toolbarbutton.bookmark-item {
    transition: all 0.5s ease !important;
    border-radius: 3px !important;
}

/*///// MISC /////*/
.bookmark-item .toolbarbutton-icon {
    display: none;
}

toolbarbutton.bookmark-item:not(.subviewbutton) {
    min-width: 1.6em;
}

.tab-icon-stack[pinned] {
    border-bottom: 1px solid var(--red-color);
    padding: 5px 0px;
}

.reader-mode-button,
#alltabs-button,
#tracking-protection-icon-container,
#new-tab-button,
#scrollbutton-up,
#scrollbutton-down,
#TabsToolbar.toolbarbutton-1,
#identity-icon-box {
    display: none !important;
}

#identity-box {
    margin-right: 5px;
}

#nav-bar-overflow-button.toolbarbutton-icon {
    width: 25px;
}

